@{
    ViewData["Title"] = "Board";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div id="toDoWrap">

    <h2>To do list</h2>

    <to-do-list
        :items = "items"
        @@newitem = "additem"
    >
    </to-do-list>

</div>

@section Scripts {

    <script type="module" src="~/js/board/board.js"></script>

}

