@{
    ViewData["Title"] = "Board";
}

@section Styles {

    <link rel="stylesheet" href="~/css/board/board.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />    

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div id="toDoWrap">

    <h2>To do list</h2>

    <to-do-list>
    </to-do-list>

</div>

@section Scripts {

    <script type="module" src="~/js/board/board.js"></script>

}

